{% extends 'base.html' %}

{% block nav %}
<a href="{{url_for('manual')}}">Sheet</a>
<a class = "active" href="{{url_for('automatic')}}">Email</a>
<a href="{{url_for('compare')}}"">Compare</a>
<a href="{{url_for('supervisors')}}">Supervisors</a>
<a href="{{url_for('_help')}}">Help</a>
{% endblock nav %}

{% block content %}
<div class="left">
    <form action = "/automatic" method = "post" enctype="multipart/form-data">
        {{form.csrf_token}}
        <p>{{ form.file.label }}</p>
        <p>{{name}}</p>
        <p class="button">{{form.file()}}</p> 
        <label>Filter By</label>
        <details>
            <summary>Course</summary>
            <p>{{ form.filterby() }}</p> 
        </details>
        <details>
            <summary>Status</summary>
            <p> {{ form.filter_status() }}</p> 
        </details>        
        <details>
            <summary>Supervisor</summary>
            <p> {{ form.filter_super() }}</p> 
        </details>  
        <p>{{ form.sort.label }} {{ form.sort() }}</p> 
        <p>{{ form.group.label }} {{ form.group() }}</p>
        <p class="button">{{ form.submit() }}</p> 
        <p class="button">{{ form.copy()}}</p>
    </form>
    {% for msg in get_flashed_messages() %}
    <p class="error">{{msg}}</p>
    {% endfor %}
</div>
<div class="right">
    {% for key in text %}
        <br><span>{{key}} - </span>
        {% for item in text[key] %}
            <span class={{'red' if item[1] == 'Overdue' else ''}}>{{item[0]}}{{',' if not loop.last}} </span>
        {% endfor %}
        <br>
    {% endfor %}
</div>


{% endblock content %}
