{% extends 'base.html' %}

{% block nav %}
<a href="{{url_for('pages.manual')}}">Sheet</a>
<a href="{{url_for('pages.automatic')}}">Email</a>
<a class = "active" href="{{url_for('pages.compare')}}">Compare</a>
<a href="{{url_for('pages._help')}}">Help</a>
{% endblock nav %}


{% block content %}
<div class="left">
    <form action = "/compare" method = "post" enctype="multipart/form-data">
        {{form.csrf_token}}
        <p>{{ form.file1.label }} {{ form.file1() }}</p> 
        <label class="file_btn" for={{form.file1.id}}>Choose File</label>
        <p>{{ form.file2.label }} {{ form.file2() }}</p> 
        <label class="file_btn" for={{form.file2.id}}>Choose File</label>
        <p>{{ form.filterby.label}} {{ form.filterby() }}</p>  
        <p>{{ form.sort.label }} {{ form.sort() }}</p> 
        <p>{{ form.compare() }}</p> 
    </form>
    {% for msg in get_flashed_messages() %}
    <p class="error">{{msg}}</p>
    {% endfor %}
</div>
<div class="right">
    <p>Summary (completed, incomplete form last week, newly incomplete)</p>
</div>


{% endblock content %}
