{% extends 'base.html' %}

{% block nav %}
<a class = "active" href="{{url_for('pages.manual')}}"">Sheet</a>
<a href="{{url_for('pages.automatic')}}">Email</a>
<a href="{{url_for('pages.compare')}}">Compare</a>
<a href="{{url_for('pages._help')}}">Help</a>
{% endblock nav %}

{% block content %}
<div class="left">
    <form action = "/manual" method = "post" enctype="multipart/form-data">
        {{form.csrf_token}}
        <p>{{ form.file.label }}: {{name}}{{form.file()}}</p> 
        <label class="file_btn" for={{form.file.id}}>Choose File</label>
        <p>{{ form.filterby.label}} {{ form.filterby() }}</p> 
        <p>{{ form.sort.label }} {{ form.sort() }}</p>
        <p>{{ form.submit() }}</p>
        
    </form>

    {% for msg in get_flashed_messages() %}
    <p class="error">{{msg}}</p>
    {% endfor %}
</div>
<div class="right">
    <table>
        <thead>
            <tr>
                {% for i in grid[0] %}
                    <th> {{i}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in grid %}
                <tr>
                    {% for i in row %}
                    <td class={{color.get(row.get(i), color['Default'])}}>{{row.get(i)}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}


